name: ci

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        machine: [ "amd64", "hpcarm", "i386", "sparc", "sparc64", "sun2", "sun3", "vax", "zaurus" ]

    steps:
    - name: setup build environment
      run: |
        sudo apt install -y build-essential flex

    - name: checkout netbsd/src
      uses: actions/checkout@v4
      with:
        repository: netbsd/src
        path: src
        ref: 508d3376a4dfe2e984650ec7a5ca05f8990251a0

    - name: checkout netbsd/xsrc
      uses: actions/checkout@v4
      with:
        repository: netbsd/xsrc
        path: xsrc
        ref: 11b985bc086c13ff9542497f5a74001d6a34687d

    - name: build release and live-image
      run: |
        DISTRIBVER="$(sh src/sys/conf/osrelease.sh)"
        echo "DISTRIBVER=$DISTRIBVER" >> $GITHUB_ENV
        case "${{ matrix.machine }}" in
        sun2)
          XOPTS=""
          ;;
        *)
          XOPTS="-x -X ../xsrc"
          ;;
        esac
        JOBS=4
        (cd src && sh build.sh -U -u ${XOPTS} -j ${JOBS} -N 0 -m ${{ matrix.machine }} -V OBJMACHINE=yes release live-image)

    - name: upload liveimages
      uses: actions/upload-artifact@v4
      with:
        name: NetBSD-${{ env.DISTRIBVER }}-${{ matrix.machine }}-live
        path: |
          src/obj.${{ matrix.machine }}/releasedir/images/
        compression-level: 0	# no compression, images are already gzipped
